In [4]:
import igraph as ig
import pandas as pd

## Read and preprocess data

In [32]:
data = pd.read_csv("Simple_pairwise-London_tube_map.txt", sep='\t', header = None)
data.rename(columns = {0:'from', 1:'to', 2:'remove'}, inplace = True)
data = data.drop('remove', axis=1)
data.head(5)

                from              to
0      Oxford_Circus     Bond_Street
1        Marble_Arch     Bond_Street
2  Notting_Hill_Gate       Queensway
3          Queensway  Lancaster_Gate
4     Lancaster_Gate     Marble_Arch

## Transform dataframe data to verticles and edges

In [33]:
graph = ig.Graph()